@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-gray-900;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --font-sans: 'Avenir Next', 'Segoe UI', sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #FAFAFA;
}
